<template>
	<div class='container'>
		<div class='row'>
			<div class='col-3' v-for="item in dataTabs">
        <dataTab :class="item.slug + '-data-tab'" :name="item.name" :data="item.data" :anchor="item.anchor"></dataTab>
			</div>
		</div>
		<div class='row'>
			<div class='col-12'>
				<button v-on:click='create'>Create content</button>
			</div>
		</div>
	</div>
</template>

<script>
import Router from 'vue-router';
import hitApi from '../utilities/api';
import dataTab from '@/components/dataTab'
const querystring = require('querystring');

export default {
	name: 'account',
	components: {
		dataTab
	},
	data() {
        return {
			dataTabs: {
				tracking: {
					name: "Post views",
					slug: "tracking",
					data: "",
          anchor: ""
				},
				posts: {
					name: "Posts",
					slug: "posts",
					data: "",
          anchor: "posts"
				},
				users: {
					name: "Users",
					slug: "users",
					data: "",
          anchor: ""
				},
				comments: {
					name: "New comments",
					slug: "comments",
					data: "",
          anchor: ""
				}
			}
        }
    },
	methods: {
		create: function() {
			this.$router.push('/create');
		}
	},
	created() {
		let self = this;
		// make object enumerable
		let obj = {...this.dataTabs}
		for (let prop in obj) {
			// this is ugly, but we're just getting the slug from the object property
			hitApi.get('http://localhost:3001/api/countRecords/' + this.dataTabs[prop].slug)
			.then(function(val) {
				self.dataTabs[prop].data = val.data.data;
			})
			.catch(function(err) {
				console.log(err);
			});
		}
	}
}
</script>
