<template>
    <div class='containerWide container'>
        <div class='row'>
            <div class='col-9'>
                <div class='editablePage'>
                    <input v-model="title.content" placeholder="Name your post" class="titleContent">
                    <div v-for='wysiwyg in material.wysiwygs' track-by="_uid">
                        <medium-editor :options='wysiwygOptions' :text='wysiwyg.content' v-on:edit='applyTextEdit(wysiwyg.id)' v-bind:class="'sectionContent'" v-bind:id='wysiwyg.id' ></medium-editor>
                        <span class='remove clickable' v-on:click="removeWysiwyg(wysiwyg.id)">Remove</span>
                    </div>
                    <div v-on:click="addWysiwyg()" class='addWysiwyg clickable'>+</div>
                </div>
            </div>
            <div class='submitWrapper'>
                <button v-on:click="savePost()" class='savePost'>Submit</button>
                <button v-on:click="undoEdit()" class='savePost'>Cancel</button>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import Router from 'vue-router';
import hitApi from '../utilities/api';
import wysiwyg from '@/components/wysiwyg'
import editor from 'vue2-medium-editor'
const querystring = require('querystring');
export default {
    name: 'create',
    components: {
		'medium-editor': editor
	},
    data () {
		return {
            title: {
                content: ''
            },
            material: {
                iterator: 1,
                wysiwygs: {
                    w0: {
                        id: 'w0',
                        content: '',
                        _uid: 'w0f'
                    }
                }
            },
            wysiwygOptions: {
                disableEditing: false,
                placeholder: {
                    text: 'Create your content',
                    hideOnClick: false
                }
            }
		}
	},
    methods: {
        applyTextEdit: function(id) {
            Vue.set(this.material.wysiwygs[id], 'content', document.getElementById(id).innerHTML);
        },
        savePost: function(){
            // This removes all the Vue getter setter stuff
            let readable = JSON.stringify(this.material.wysiwygs);
            let data = {
                title: this.title.content,
                content: readable
            }
            let self = this;
            hitApi.post('http://localhost:3001/api/contentCreate', querystring.stringify(data))
				.catch(function(error){
					console.log(error);
                    self.$router.push('/');
				});
        },
        addWysiwyg: function() {
            let id = "w" + this.material.iterator;
            let content = {
                id: id,
                content: ''
            }
            Vue.set(this.material.wysiwygs, id, content);
            this.material.iterator ++; 
        },
        removeWysiwyg: function(id) {
            console.log('removing wysiwyg ' + id);
            Vue.delete(this.material.wysiwygs, id);

        },
        undoEdit: function() {
            console.log('confirm choice, then load from DB');
        }
    }
}
</script>

<style scoped>
    .savePost {
        margin-bottom: 10px;
        font-size: 22px;
    }
    .elementDesciptor {
        font-size: 24px;
        margin-bottom: 5px;
        text-transform: capitalize;
    }
    .titleContent {
        font-size: 50px;
        width: 100%;
        border: 0px;
        margin-bottom: 30px;
        font-family: 'Roboto Slab', serif;
    }
    .titleContent::-webkit-input-placeholder {
        color: #333;
        font-style: italic;
    }
    .titleContent:focus {
        outline: none;
    }
    .sectionContent {
        font-size: 30px;
        margin-bottom: 100px;
    }
    .sectionContent:focus {
        outline: none;
    }
    .addWysiwyg {
        border: solid 1px #d2d2d2;
        color: #d2d2d2;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        margin-left: -50px;
    }
    .remove {
        margin-bottom: 30px;
        float: right;
        font-weight: 400;
        color: red;
        margin-top: -50px;
    }
    .editablePage {
        background: white;
        min-height: 1000px;
        padding: 80px;
        padding-top: 100px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px -2px #929292;
		border: solid 1px #b7b7b7;
    }
    .editablePage:focus {
        outline: none;
    }
    .submitWrapper {
        float: right;
        margin-right: 15px;
    }
</style>