<template>
  <div class='container'>
    <div class="row">
      <div class="col-12">
        <table>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Slug</th>
            <th>Modified</th>
            <th>Published</th>
          </tr>

          <tr v-for="item in posts">
            <td>{{ item.title }}</td>
            <td>{{ item.author }}</td>
            <td>{{ item.slug }}</td>
            <td>{{ item.date.toLocaleDateString("en-US") }}</td>
            <td>{{ item.published }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import hitApi from '../utilities/api';
  const querystring = require('querystring');

  export default {
    name: 'postArchive',
    data() {
      return {
        posts: {}
      }
    },
    created() {
      let self = this;
      hitApi.get("http://localhost:3001/api/bulkPosts/")
        .then(function (val) {
          self.posts = val.data;
        })
        .catch(function (err) {
          console.log(err);
        })
    }
  }
</script>

<style scoped>
  table {
    width: 100%;
  }
  th, td {
    text-align: left;
  }
</style>
