<template>
    <div class='container'>
        <div class='row'>
            <div class='col-12'>
                <h1 class='created-title'>{{ postData.title }}</h1>
                <div v-for="item in JSON.parse(postData.data)">
                    <div class='created-input' v-bind:class='"created-" + item.id' v-html="item.content"></div>
                </div>
                <div class='author'>This post was created by: <a href=''>{{ postData.author }}</a></div>
            </div>

            <div class='col-12 comments'>
                <h3>Comments</h3>
                <textarea id='new-comment' placeholder='Have your say'></textarea>
                <button v-on:click='submitComment'>Submit</button>
                <div class='loaded-comments'>
                    <div class='single-comment' v-for="item in commentData">
                        <div class='image'></div>
                        <p>{{ item.text }}</p>
                        <br>
                        <a href="#"><span class='comment-name'>{{item.author}}</span></a>
                        <span class='time'>{{dateDifference(item.date)}}</span>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>

<script>
import hitApi from '../utilities/api';
const querystring = require('querystring');

export default {
	name: 'viewPost',
    data() {
        return {
            postData: {data: '{}'},
            commentData: {}
        }
    },
    methods: {
        getPost: function() {
            let self = this;
            hitApi.get('http://localhost:3001/api/contentView/' + this.$route.params.name)
            .then(function(val) {
                self.postData = val.data;
            })
            .catch(function(err) {
                console.log(err);
            });
            hitApi.get('http://localhost:3001/api/comments/' + this.$route.params.name)
            .then(function(val) {
                self.commentData = val.data;
            })
            .catch(function(err) {
                console.log(err);
            })
        },
        submitComment: function() {
            let data = {
                post: this.postData.slug,
                text: document.getElementById('new-comment').value
            }
            hitApi.post('http://localhost:3001/api/commentCreate', querystring.stringify(data))
            .then(function(val) {
                // maybe a web socket for this.
            })
            .catch(function(err) {
                console.log(err);
            });
        },
        dateDifference: function(date) {
            var hourDiff = Math.ceil(Math.abs(new Date().getTime() - new Date(date).getTime()) / (1000 * 3600));
            if(hourDiff > 24) {
                return (parseInt(hourDiff / 24)) + 'd';
            } else {
                return hourDiff + 'h'
            }
        },
        tracking: function() {
            hitApi.post('http://localhost:3001/api/tracking/' + this.$route.params.name)
            .then(function(val) {
                console.log('Tracking Sent');
            })
            .catch(function(err) {
                console.log(err);
            });
        }
    },
    watch: {
		$route: function() {
			this.getPost();
            this.tracking();
		}
	},
    beforeMount(){
        this.getPost();
    }
}
</script>

<style scoped>
    .created-title {
        font-size: 35px;
    }
    .created-input {
        font-size: 25px;
    }
    .author {
        margin-bottom: 30px;
    }
    #new-comment {
        width: 100%;
        height: 6em;
        padding: 10px 10px;
        box-sizing: border-box;
    }
    .single-comment {
        margin-bottom: 30px;
    }
    .comments {
        margin-bottom: 30px;
    }
    .comments button {
        float: right;
    }
    .loaded-comments {
        margin-top: 50px;
    }
    .comments .image {
        width: 40px;
        height: 40px;
        background-image: url("../images/profile.svg");
	    background-repeat: no-repeat;
	    background-size: 80%;
        background-position: 50%;
        display: inline-block;
        background-color: #0892D0;
        border-radius: 50%;
        margin-right: 10px;
    }
    .comments .comment-name {
        margin-left: 53px;
    }
    .comments p {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 60px);
    }
    .comments .time {
        font-size: 0.7em;
        color: grey;
    }
</style>