<template>
    <a :href="baseUrl + this.anchor">
        <div class="data-tab">
            <div class="data-tab-logo-wrapper">
            </div>
            <div class="data-tab-data-wrapper">
                <span class="data-tab-name">{{this.name}}</span>
                <br>
                <span class="data-tab-value">{{this.data}}</span>
            </div>
        </div>
    </a>
</template>

<script>

export default {
  	name: 'dataTab',
    props:['name', 'data', 'anchor'],
}
</script>

<style scoped>
    .data-tab {
        background: white;
        height: 80px;
        max-width: 100%;
        box-shadow: 0px 0px 10px -2px #929292;
        border: solid 1px #b7b7b7;
        text-decoration: none;
        position: relative;
    }
    .data-tab > div {
        display: inline-block;
        height: 80px;
    }
    .data-tab-logo-wrapper {
        width: 80px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #0892D0;
    }
    .data-tab-data-wrapper {
        width: calc(100% - 80px);
        position: absolute;
        right: -1px;
        top: 0;
        text-align: center;
        line-height: 30px;
        padding-top: 10px;
        box-sizing: border-box;
    }
</style>
