<template>
	<div class='editable'>
	</div>
</template>

<script>
const MediumEditor = require('medium-editor');

export default {
  	name: 'wysiwyg',
    mounted(){
        var editor = new MediumEditor('.editable');
    }
}
</script>