<template>
	<div id="app">
        <vueHeader></vueHeader>
        <router-view></router-view>
	</div>
</template>

<script>
import vueHeader from '@/components/header'
import Vue from 'vue'

Vue.mixin({
  data: function() {
    return {
      get baseUrl() {
        return "http://localhost:8080/#/";
      }
    }
  }
})

export default {
  name: 'app',
  components: {
	vueHeader
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Slab:700');
* {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
}
.container {
	width: 1180px;
	max-width: 100%;
	padding: 0 15px;
	margin: auto;
	box-sizing: border-box;
	position: relative;
  }
  @media (max-width: 991px) {
	.container {
	  padding: 0px 5px;
	}
  }
  .containerWide {
      width: 100%;
  }
  .row {
	clear: both;
	margin: 0px -15px 20px -15px;
  }
  @media (max-width: 991px) {
	.row {
	  margin: 0;
	}
  }
  .row::after {
	content: "";
	clear: both;
	display: table;
  }
  .col-1 {
	width: 8.33%;
  }
  .col-2 {
	width: 16.66%;
  }
  .col-3 {
	width: 25%;
  }
  .col-4 {
	width: 33.33%;
  }
  .col-5 {
	width: 41.66%;
  }
  .col-6 {
	width: 50%;
  }
  .col-7 {
	width: 58.33%;
  }
  .col-8 {
	width: 66.66%;
  }
  .col-9 {
	width: 75%;
  }
  .col-10 {
	width: 83.33%;
  }
  .col-11 {
	width: 91.66%;
  }
  .col-12 {
	width: 100%;
  }
  [class*="col-"] {
	float: left;
	padding: 0px 15px;
	box-sizing: border-box;
  }
  @media (max-width: 991px) {
	[class*="col-"] {
	  width: 100%;
	  padding: 0px;
	}
  }
* {
	margin-top: 0;
}
body {
	background: #f1f1f1;
	color: #191919;
}
button {
	padding: 10px 30px;
	background: #0892D0;
	border: solid 3px #0892D0;
	color: white;
	font-size: 15px;
	cursor: pointer;
	transition: all 0.4s;
	box-shadow: 0px 0px 10px -2px #929292;
}
button:hover {
	background: rgba(0, 0, 0, 0);
	color: #0892D0;
}
.clickable {
    cursor: pointer;
}
.flaggedInput {
	border-color: red;
}
blockquote {
    margin: 20px 0px;
    padding-left: 30px;
    border-left: solid 10px #bfbfbf;
    color: grey;
}
.medium-editor-anchor-preview,
.medium-editor-toolbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    z-index: 2000
}

@-webkit-keyframes medium-editor-image-loading {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes medium-editor-image-loading {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes medium-editor-pop-upwards {
    0% {
        opacity: 0;
        -webkit-transform: matrix(.97, 0, 0, 1, 0, 12);
        transform: matrix(.97, 0, 0, 1, 0, 12)
    }
    20% {
        opacity: .7;
        -webkit-transform: matrix(.99, 0, 0, 1, 0, 2);
        transform: matrix(.99, 0, 0, 1, 0, 2)
    }
    40% {
        opacity: 1;
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1)
    }
    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
}

@keyframes medium-editor-pop-upwards {
    0% {
        opacity: 0;
        -webkit-transform: matrix(.97, 0, 0, 1, 0, 12);
        transform: matrix(.97, 0, 0, 1, 0, 12)
    }
    20% {
        opacity: .7;
        -webkit-transform: matrix(.99, 0, 0, 1, 0, 2);
        transform: matrix(.99, 0, 0, 1, 0, 2)
    }
    40% {
        opacity: 1;
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1)
    }
    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
}

.medium-editor-anchor-preview {
    left: 0;
    line-height: 1.4;
    max-width: 280px;
    position: absolute;
    text-align: center;
    top: 0;
    word-break: break-all;
    word-wrap: break-word;
    visibility: hidden
}

.medium-editor-anchor-preview a {
    color: #fff;
    display: inline-block;
    margin: 5px 5px 10px
}

.medium-editor-placeholder-relative:after,
.medium-editor-placeholder:after {
    content: attr(data-placeholder)!important;
    white-space: pre;
    padding: inherit;
    margin: inherit;
    font-style: italic
}

.medium-editor-anchor-preview-active {
    visibility: visible
}

.medium-editor-dragover {
    background: #ddd
}

.medium-editor-image-loading {
    -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;
    animation: medium-editor-image-loading 1s infinite ease-in-out;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    height: 40px;
    width: 40px
}

.medium-editor-placeholder {
    position: relative
}

.medium-editor-placeholder:after {
    position: absolute;
    left: 0;
    top: 0
}

.medium-editor-placeholder-relative,
.medium-editor-placeholder-relative:after {
    position: relative
}

.medium-toolbar-arrow-over:before,
.medium-toolbar-arrow-under:after {
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    width: 0
}

.medium-toolbar-arrow-under:after {
    border-width: 8px 8px 0
}

.medium-toolbar-arrow-over:before {
    border-width: 0 8px 8px;
    top: -8px
}

.medium-editor-toolbar {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden
}

.medium-editor-toolbar ul {
    margin: 0;
    padding: 0
}

.medium-editor-toolbar li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0
}

.medium-editor-toolbar li button {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 1.33;
    margin: 0;
    padding: 15px;
    text-decoration: none
}

.medium-editor-toolbar li button:focus {
    outline: 0
}

.medium-editor-toolbar li .medium-editor-action-underline {
    text-decoration: underline
}

.medium-editor-toolbar li .medium-editor-action-pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    font-weight: 100;
    padding: 15px 0
}

.medium-editor-toolbar-active {
    visibility: visible
}

.medium-editor-sticky-toolbar {
    position: fixed;
    top: 1px
}

.medium-editor-relative-toolbar {
    position: relative
}

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
    -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
    animation: medium-editor-pop-upwards 160ms forwards linear
}

.medium-editor-action-bold {
    font-weight: bolder
}

.medium-editor-action-italic {
    font-style: italic
}

.medium-editor-toolbar-form {
    display: none
}

.medium-editor-toolbar-form a,
.medium-editor-toolbar-form input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.medium-editor-toolbar-form .medium-editor-toolbar-form-row {
    line-height: 14px;
    margin-left: 5px;
    padding-bottom: 5px
}

.medium-editor-toolbar-form .medium-editor-toolbar-input,
.medium-editor-toolbar-form label {
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 6px;
    width: 316px;
    display: inline-block
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:focus,
.medium-editor-toolbar-form label:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-shadow: none;
    outline: 0
}

.medium-editor-toolbar-form a {
    display: inline-block;
    font-size: 24px;
    font-weight: bolder;
    margin: 0 10px;
    text-decoration: none
}

.medium-editor-toolbar-form-active {
    display: block
}

.medium-editor-toolbar-actions:after {
    clear: both;
    content: "";
    display: table
}

.medium-editor-element {
    word-wrap: break-word;
    min-height: 30px
}

.medium-editor-element img {
    max-width: 100%
}

.medium-editor-element sub {
    vertical-align: sub
}

.medium-editor-element sup {
    vertical-align: super
}

.medium-editor-hidden {
    display: none
}

/*wysiwys tool bar*/
.medium-editor-toolbar ul li button:hover {
    background: #0892D0;
}
.medium-editor-toolbar ul li button b, .medium-editor-toolbar ul li button i, .medium-editor-toolbar ul li button u {
    transition: color 0.4s;

}
.medium-editor-toolbar ul li button:hover b, .medium-editor-toolbar ul li button:hover i, .medium-editor-toolbar ul li button:hover u {
    color: white;
}
.medium-editor-toolbar ul li:first-child button {
    border-radius: 50% 0px 0px 50%;
}
.medium-editor-toolbar ul li:last-child button {
    border-radius: 0px 50% 50% 0px;
}
.medium-toolbar-arrow-over:before, .medium-toolbar-arrow-under:after {
    display: none;
}
</style>